.details > aside {
    width: 256px;
    margin: 1rem;
    padding: 1rem;
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 210px;
}

.details > aside > div > button {
    padding: 0.5rem;
}

.details > aside > div > button > svg {
    color: var(--border-color);
}

.details > aside > div > span {
    color: var(--secondary-400);
    font-weight: 600;
}

.details > aside > button {
    background-color: var(--secondary-400);
    color: white;
    height: 2rem;
    border-radius: var(--border-radius);
    width: 100%;
    font-weight: 700;
}

@media (max-width: 600px) {
    .details > aside {
        width: 100%;
        position: static;
    }
}
