.details>aside {
    width: 256px;
    margin: 1rem;
    padding: 1rem;
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 210px;
}

.details>aside>button:nth-child(1),
.details>aside>button:nth-child(2) {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    width: 100%;
    text-align: left;
}

.details>aside>button>svg {
    color: var(--border-color);
}

.details>aside>div>span {
    color: var(--secondary-400);
    font-weight: 600;
}

.details>aside>button:nth-child(4) {
    background-color: var(--secondary-400);
    color: white;
    height: 2rem;
    border-radius: var(--border-radius);
    width: 100%;
    font-weight: 700;
}

.details>aside>button:nth-child(4):hover {
    background-color: var(--secondary-600);
    transition: background-color 0.2s;
}

@media (max-width: 650px) {
    .details>aside {
        width: 100%;
        position: static;
    }
}