.features {
    width: 100%;
}

.features-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features-header>button {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 500;
}

.features-box {
    display: flex;
    width: 100%;
}

.features-box>ul {
    flex-basis: 25%;
    display: grid;
    gap: 1rem;
}

.features-box>ul>li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}