.gallery {
    margin-top: 1rem;
    position: relative;
}

.gallery button {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    border-radius: calc(2 * var(--border-radius));
    background-color: var(--white);
    box-shadow: var(--shadow-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    color: black;
}

.gallery button:hover {
    cursor: pointer;
}

.gallery {
    border-radius: 8px;
    overflow: hidden;
    height: 315px;
    display: flex;
    gap: 0.25rem;
}

.gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery > div {
    flex-basis: 50%;
}

.gallery > div > div {
    height: 50%;
    display: flex;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
}

.gallery > div > div > div {
    flex-basis: 50%;
    height: 100%;
}
