:root {
    --border-color: #0000001f;
    --shadow-color: 0 2px 5px -1px #00000014;
    --border-radius: 8px;
    --nav-height: 120px;

    --white: #FFF;
    --black: #000;
    --primary: #FDB713;
    --primary-light: #FFE19C;
    --primary-dark: #E3A107;
    --secondary-100: #F2F9FF;
    --secondary-200: #C9E3F8;
    --secondary-300: #51A2E7;
    --secondary-400: #0077DB;
    --secondary-500: #00569E;
    --secondary-600: #004075;
    --secondary-700: #001C33;
    --grays-100: #F8FAFB;
    --grays-150: #E2E6E9;
    --grays-200: #BEC6CC;
    --grays-300: #959EA6;
    --grays-400: #6C7680;
    --grays-500: #4B5259;
    --grays-600: #2B2F33;
    --grays-700: #0A0B0C;
    --info-100: #E8F9FC;
    --info-300: #A0E8F3;
    --info-400: #17A2B8;
    --info-500: #0F697A;
    --info-700: #072F36;
    --border-1: rgba(0, 0, 0, .12);
    --border-2: rgba(0, 0, 0, .2);
    --overlay: rgba(10, 11, 12, .65);
    --bg: #F6F6F6;
    --shadow-sm: 0 1px 1px -1px rgba(0, 0, 0, .08);
    --shadow-md: 0 2px 5px -1px rgba(0, 0, 0, .08);
    --shadow-lg: 0 4px 6px 0 rgba(0, 0, 0, .08);
    --shadow-xl: 0 3px 10px 0 rgba(0, 0, 0, .12), 0 10px 10px -6px rgba(0, 0, 0, .12);
    --shadow-bottom-sheet: 0 -20px 30px -5px rgba(0, 0, 0, .08);
    --shadow-nav-bar: 0 -1px 0 0 rgba(0, 0, 0, .08), 0 -2px 8px 8px rgba(0, 0, 0, .04);
    --shadow-inner: inset 0 2px 4px 0 rgb(0, 0, 0, .05);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    background-color: #f6f6f6;
    padding-top: var(--nav-height);
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grays-200);
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: var(--grays-500);
}

ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

button {
    border: none;
    background-color: inherit;
    color: var(--grays-500);
}

.box {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    color: var(--grays-500);
    box-shadow: var(--shadow-color);
    padding: 1rem;
    border-radius: var(--border-radius);
}

@media (max-width: 650px) {
    /* :root {
        --nav-height: 150px;
    } */

    html {
        font-size: 12px;
    }
}