.wrapper > .header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--border-color);
    box-shadow: var(--shadow-color);
    color: var(--grays-500);
    z-index: 100;
    background-color: var(--white);

    /* will-change: transform;
    transition: transform 0.2s ease-out; */
}

.wrapper > .header > .container {
    margin: auto;
    width: 1200px;
}

.wrapper > .header > .container > .nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar__right {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.nav-bar__right > ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--grays-500);
}

.nav-bar__right > ul > li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 50%;
}

.nav-bar__right > ul > li.divider {
    border-left: 1px solid var(--border-color);
}

.nav-bar__right ul > li > button {
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
}

.nav-bar__right > ul > li > button > ul > li:hover,
.nav-bar__right > ul > li > button:hover {
    border-radius: var(--border-radius);
    background-color: #f8fafb;
}

.nav-bar__right > ul > li > button:hover > ul {
    visibility: visible;
}

.nav-bar__right > ul > li > button > ul {
    border-radius: var(--border-radius);
    /* margin-top: 1rem; */
    padding: 0.5rem;
    position: absolute;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--shadow-color);
    border: 1px solid var(--border-color);
    width: 8rem;
    visibility: hidden;
}

.nav-bar__right > ul > li > button > ul > li:not(.divider) {
    padding: 8px 12px;
    min-height: 40px;
    text-align: center;
    font-size: small;
}

.nav-bar__right > ul > li > button > ul > li.divider {
    border-bottom: 1px solid var(--border-color);
}

.nav-bar__left {
    display: flex;
    margin-right: auto;
    gap: 1rem;
}

.nav-bar__left > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.alibaba-icon {
    display: flex;
    font-size: 0.5rem;
}

.alibaba-icon > div {
    padding-top: 0.5rem;
    height: 48px;
}

.alibaba-icon > div > h2 {
    margin: 0;
    font-weight: 400;
}

.header__anchor-tags {
    display: flex;
    justify-content: space-around;
    margin: auto;
    gap: 1rem;
    min-width: 80%;
    padding-top: 0.5rem;
}

.header__anchor-tags a {
    line-height: 2rem;
}

/* laptop */
@media (max-width: 1280px) {
    .wrapper > .header > .container {
        width: 1000px;
    }
}

/* desktop-portrait */
@media (max-width: 1024px) {
    .wrapper > .header > .container {
        width: 700px;
    }
    .wrapper>.header>.container .nav-bar>div:first-child ul {
        display: none;
    }
}

/* ipad-portrait */
@media (max-width: 768px) {
    .wrapper > .header > .container {
        width: 400px;
    }
}

/* iPhone-6-plus */
@media (max-width: 414px) {
    .wrapper > .header > .container {
        width: 370px;
    }
}

/* iPhone-6 */
@media (max-width: 375px) {
    .wrapper > .header > .container {
        width: 360px;
    }
}

/* android-portrait */
@media (max-width: 360px) {
    .wrapper > .header > .container {
        width: 320px;
    }
}

/* iPhone-4 */
@media (max-width: 320px) {
    .wrapper > .header > .container {
        width: 200px;
    }
}
