.header h1 {
    font-size: 1.5rem;
}

.header > div {
    display: flex;
    justify-content: space-between;
}

.header > div > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

.share {
    color: var(--secondary-color);
}

.header > div > div > span {
    font-size: smaller;
}
