.wrapper > .main > .container {
    padding-top: 1.5rem;
    padding: 1rem;
    margin: auto;
    width: 1000px;
}

.bread-crumbs a:not(:first-child)::before {
    display: inline-flex;
    content: "";
    /* TODO: */
    /* Using the background-image and
       its related properties to add
       the SVG content */
    background-image: url("../svg/left-arrow.svg");
    background-size: 40px 40px;
    height: 40px;
    width: 40px;
}

.hotel-header h1 {
    font-size: 1.5rem;
}

.hotel-header__details {
    display: flex;
    justify-content: space-between;
}

.hotel-header__details > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
}

.rating {
    color: #17a2b8;
}

.share {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: smaller;
    font-weight: 500;
}

.hotel-header__details > div > span {
    font-size: smaller;
}

.hotel-details {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.hotel-details > .detail-container {
    width: 100%;
}

/* laptop */
@media (max-width: 1280px) {
    .wrapper > .main > .container {
        width: 900px;
    }
}

/* desktop-portrait */
@media (max-width: 1024px) {
    .wrapper > .main > .container {
        width: 700px;
    }
}

/* ipad-portrait */
@media (max-width: 768px) {
    .wrapper > .main > .container {
        width: 300px;
    }
    .hotel-details {
        flex-direction: column;
        align-items: center;
    }
}

/* iPhone-6-plus */
@media (max-width: 414px) {
    .wrapper > .main > .container {
        width: 270px;
    }
}

/* iPhone-6 */
@media (max-width: 375px) {
    .wrapper > .main > .container {
        width: 250px;
    }
}

/* android-portrait */
@media (max-width: 360px) {
    .wrapper > .main > .container {
        width: 230px;
    }
}

/* iPhone-4 */
@media (max-width: 320px) {
    .wrapper > .main > .container {
        width: 200px;
    }
}
