div.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color: #4b4b4b99;
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

div.modal-container .box {
    max-width: 1200px;
    min-height: 500px;
}