#ruls {
    scroll-margin-top: var(--nav-height);
}

.ruls-details {
    display: flex;
}

.ruls-details-right {
    flex-basis: 20%;
    padding-left: 2rem;
    border-left: 1px solid var(--border-color);
}

.ruls-details-right>div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

.ruls-details-left {
    flex-shrink: 2;
}

.ruls-details-left>section>h4 {
    margin: 0;
    font-size: small;
    padding-right: 1rem;
}

.ruls-details-left>section>div {
    padding: 1rem;
    text-align: left;
    direction: ltr;
}

.ruls-details-left>section div div,
.ruls-details-left>section div ul {
    margin-left: 3rem;
    padding: 1rem 0;
    list-style-type: disc;
}